@font-face {
    font-family: 'MyMinchoFont';
    src: local('Kozuka Mincho Pr6N R'), local('小塚明朝 Pr6N R'), local('Yu Mincho'), local('游明朝'), local('Hiragino'), local('Hiragino Mincho ProN'), local('MS Mincho');
    unicode-range: U+2000-FFFF;
}

@font-face {
    font-family: 'MyFuriganaFont';
    src: url('SourceHanSans-Furigana.ttf');
    unicode-range: U+3041-30FF;
}

@font-face {
    font-family: 'MyCompressedFuriganaFont';
    src: url('SourceHanSans-FuriganaCompressed.ttf');
    unicode-range: U+3041-30FF;
}

@font-face {
    font-family: 'MyGothicFont';
    src: local('Yu Gothic'), local('游ゴシック'), local('Osaka'), local('Hiragino Kaku Gothic ProN'), local('Hiragino Sans'), local('MS Gothic');
    unicode-range: U+2000-FFFF;
}

@font-face {
    font-family: 'MyEnglishFont';
    src: local('Calibri');
}

body {
    font-family: MyMinchoFont, MyEnglishFont;
    font-variant-east-asian: jis04;
    font-size: 20px;
}

em {
    font-family: Georgia;
    font-size: 80%;
}

sq {
    border: 1px solid #000;
    font-weight: bold;
}

h1, h2, h3, #toc {
    font-family: MyGothicFont, MyEnglishFont;
}

rt {
    font-family: MyFuriganaFont, MyGothicFont;
}

.compressed {
    font-family: MyCompressedFuriganaFont, MyFuriganaFont, MyGothicFont;
}

h1 {
    color:rgb(52, 76, 151);
}

h2 {
    color:rgb(55, 94, 212);
}

h3 {
    color:rgb(58, 112, 255);
}

pre {
    padding: 5px;
    word-wrap: normal;
    background-color:rgba(27,31,35,.05);
    display: inline-block;
    border-left: 5px #DDD solid;
 }
 
 code {
    background-color: transparent;
    font-size:85%;
    margin:0;
}

table {
    border:none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

table.fullLines > tbody > tr > td {
    border: 1px solid #000;
}

#toc-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FAFAFF;
}

#toc {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 16px;
}

#toc > ul > li {
    font-size: 110%;
    font-weight: bold;
}

#toc ul {
    padding-left: 1em;
}

#toc a:visited {
    color: black;
}

#toc a {
    color: black;
    text-decoration: none;
}

#toc a:hover {
    background: rgb(197, 212, 255);
}

#contents-container {
    position: absolute;
    top: 0px;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#contents {
    padding-left: 40px;
    padding-right: 40px;
}

 